.simpletable {
  --border: #ccc;
  --row-even: #efefef;
  --row-hover: #ccc;
  --table-active: #999;
}

.simpletable table {
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  width: 100%; border-collapse: collapse; 
  border-spacing: 0; font-size: 10pt; line-height: 2em; 
  cursor: default;
}
.simpletable table td { border-right: 1px solid var(--border); box-sizing: border-box; }
.simpletable table th { 
    font-weight: normal; text-align: center; background-color: var(--table-head); 
    border-top: 1px solid var(--border); border-bottom: 1px solid var(--border); 
    border-right: 1px solid var(--border); cursor: pointer;
}
.simpletable table thead th:hover {background-color: var(--row-hover); }
.simpletable table thead td, .simpletable table tbody td { padding-left: .5em; padding-right: .5em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 0; }
.simpletable table tbody tr:nth-child(even) { background-color: var(--row-even); }
.simpletable table tbody tr.active td { background-color: var(--table-active); }
.simpletable table tbody tr:hover td, table tbody tr.active:hover td { background-color: var(--row-hover); }
.simpletable table tfoot th { padding: 0; }
.simpletable table tfoot input, .simpletable table tfoot button { 
  width: 46px; padding: .6em .4em; border: none; text-align: center; margin: 0 2px;
}
