/* add css module styles here (optional) */
.simpletable {
  display: flex;
  flex-direction: row;
  --border: #ccc;
  --row-even: #efefef;
  --row-hover: #ccc;
}

.simpletable table {
  flex-grow: 1;
}

.simpletable .active { background-color: var(--row-hover); }

.simpletable table { width: 100%; border-collapse: collapse; border-spacing: 0; font-size: 10pt; line-height: 2em; }
.simpletable table td { border-right: 1px solid var(--border); cursor: default; box-sizing: border-box; }
.simpletable table thead th { 
    font-weight: normal; text-align: center; background-color: var(--table-head); 
    border-top: 1px solid var(--border); border-bottom: 1px solid var(--border); 
    border-right: 1px solid var(--border); cursor: pointer;
}
.simpletable table thead th:hover {background-color: var(--row-hover); }
.simpletable table thead td, .simpletable table tbody td { padding-left: .5em; padding-right: .5em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 0; }
.simpletable table tbody tr:nth-child(even) { background-color: var(--row-even); }
.simpletable table tbody tr.active td { background-color: var(--table-active); }
.simpletable table tbody tr:hover td, table tbody tr.active:hover td { background-color: var(--row-hover); }
.simpletable table tfoot .toolbar { border-color: var(--border); border-width: 1px 0; border-style: solid; }
.simpletable table tfoot .toolbar input { border-top: none; border-bottom: none; height: auto; background-color: var(--white); }
